### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import pandas as pd

# needed due to a false positive message when writing in a new dataframe
pd.options.mode.chained_assignment = None  # default='warn'
# load file 
file = "Resources/purchase_data.csv"

# Read e and store into Pandas data frame
main_df = pd.read_csv(file, skipinitialspace=True)
total_players = len(main_df['SN'].unique())
#column_names = list(main_df.columns)
#print(column_names)
# column 0 = purchase ID, 1 = SN(in game name), 2 = age, 3 = gender, 4 = item id, 5 = item name, 6 = price
# may have to clean up header

In [63]:
# to get total players, you need to see all unique player igns(column 3)
# it is case sensitive and len can be used to get the numerical value from unique()
# given the formatting, it may be necessary to assign this to a data frame later 
total_players = len(main_df['SN'].unique())
print(total_players)

576

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
# these are bins see link https://www.codespeedy.com/binning-or-bucketing-of-column-in-pandas-using-python/
# these will be placed in their own dataframe 
# cut based on these ages: <10, 10-13,15-19,20-24,25-29,30-34,35-39,40+ 
# make percentages based on this (use total players again)
age_full = main_df[["SN","Age"]]
age_unique = age_full.drop_duplicates()

bins = [0,9,14,19,24,29,34,39,150]
categories = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# chose where to cut 
age_cut = pd.cut(age_unique["Age"],bins,labels = categories)
# get the total counts
new_data = age_cut.value_counts()
# must port in under the name age or else the program cannot trace back to it
age_df = pd.DataFrame(new_data, columns = ["Age"])

age_df["Percent of Players"] = round((age_df["Age"]/total_players)*100,2)

# renamed to total count for clarity
age_df = age_df.rename(columns={"Age":"Total Count"})

# reorganizes the indexes to match the original categories; defaults to descending order
age_df = age_df.reindex(categories)
age_df

       Total Count  Percent of Players
<10             17                2.95
10-14           22                3.82
15-19          107               18.58
20-24          258               44.79
25-29           77               13.37
30-34           52                9.03
35-39           31                5.38
40+             12                2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# just like gender, use sthe original data frame 
# bin it by age to move the rows around into a new data frame 
# calculate accordingly 
# create a new data frame to hold the values interested
purchase_df = main_df[["SN","Age","Price"]]

# cut the data according to the bins and add it as a column 
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels = categories)

# use group by to calculate the bin values
# make as index false so that the returned value does not turn the labels into the index
purchase_count = purchase_df.groupby(by = "Age Group", as_index=False).count()
total_avg_df = round(purchase_df.groupby(by = "Age Group", as_index=False)["Price"].mean(),2)
total_sum_df = purchase_df.groupby(by = "Age Group",as_index=False)["Price"].sum()

# use the total counts already calculated in age df 
# need to convert to list due to unique index that does not match total_sum_df 
convert_unique_counts = age_df["Total Count"].tolist()

# create a new series to do computations with 
new_series = pd.Series(convert_unique_counts)

# do computations here and round the results to the second decimal point
total_per_person = round(total_sum_df["Price"].div(new_series),2) #[0]/17

# create collated dictionary of all their values 
completed_dictionary = {"Age Ranges": categories,
                        "Purchase Count": purchase_count["Price"],
                        "Total Average Price": total_avg_df["Price"], 
                        "Total Purchase Value": total_sum_df["Price"],
                        "Avg Total Purchase per Person": total_per_person}
# pass to a final df for presentation 
total_df = pd.DataFrame(completed_dictionary)
total_df

,Age Ranges,Purchase Count,Total Average Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.35,77.13,4.54
1,10-14,28,2.96,82.78,3.76
2,15-19,136,3.04,412.89,3.86
3,20-24,365,3.05,1114.06,4.32
4,25-29,101,2.90,293.00,3.81
5,30-34,73,2.93,214.00,4.12
6,35-39,41,3.60,147.67,4.76
7,40+,13,2.94,38.24,3.19